#searchForm {
    background-color: #dddddd;
    border: 2px;
    border-style: solid;
    border-color: #0000ff;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

label {
    font-size: 22px;
}

.formItems {
    font-size: 20px;
}